<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>project-metrics</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.xkcd@1.1/dist/chart.xkcd.min.js"></script>
</head>

<body>
  <svg class="metric-chart"></svg>
  <script>
    const svg = document.querySelector('.metric-chart')

    const metricChart = new chartXkcd.Line(svg, {
      title: 'Metrics title', // optional
      xLabel: 'PIs (time)', // optional
      yLabel: '$ Values', // optional
      data: {
        labels: ['pi-2201', 'pi-2202', 'pi-2203', 'pi-2204', 'pi-2301', 'pi-2302', 'pi-2303', 'pi-2304', 'pi-2401', 'pi-2402', 'pi-2403', 'pi-2404'],
        datasets: [
          {
            label: 'module a',
            data: [30, 70, 200, 300, 500, 800, 1500, 2900, 5000, 8000],
          },
          {
            label: 'module b',
            data: [0, 1, 30, 70, 80, 100, 50, 80, 40, 150],
          },
          {
            label: 'module c',
            data: [60, 20, 30, 700, 800, 1000, 5000, 8000, 4000, 15000],
          }
        ],
      },
      options: { // optional
        legendPosition: chartXkcd.config.positionType.upRight,
        showLine: true,
        timeFormat: 'MM/DD/YYYY'
      }
    });
  </script>
</body>

</html>